@import "src/Default"

.button
  position: absolute
  transition: all 500ms ease

  .piece
    position: absolute
    width: 10vh
    height: 10vh
    display: flex
    justify-content: center
    align-items: center
    transition: all 500ms ease

  &:hover
    transition: all 300ms ease

  &:active
    transition: all 100ms linear

    .piece
      transition: all 100ms linear


  &.hidden
    opacity: 0
    transition: all 200ms ease

  &.toHome
    top: -9vh
    right: 0
    width: 100vw
    height: 10vh
    background-color: lightskyblue
    box-shadow: -2px 2px 1px 1px rgba(0,0,0,0.4)

    .piece
      top: 10vh
      left: 5vw
      background-color: lightskyblue
      border-bottom-left-radius: 25%
      border-bottom-right-radius: 25%
      box-shadow: -2px 2px 1px 1px rgba(0,0,0,0.4)

    &:hover
      top: -3px

    &:active
      top: 0
      box-shadow: unset

      .piece
        box-shadow: unset

    &.hidden
      top: -21vh

  &.toBuilder
    top: 0
    right: -9vh
    height: 100vh
    width: 10vh
    box-shadow: -3px 0 1px 1px rgba(0,0,0,0.4)
    background-color: lightcyan

    .piece
      top: 5vh
      right: 10vh
      box-shadow: -3px 0 1px 1px rgba(0,0,0,0.4)
      background-color: lightcyan
      border-bottom-left-radius: 25%
      border-top-left-radius: 25%

    &:hover
      right: -3px

    &:active
      right: 0
      box-shadow: unset

      .piece
        box-shadow: unset

    &.hidden
      right: -21vh

  &.toMatrix
    top: 0
    left: -9vh
    height: 100vh
    width: 10vh
    box-shadow: 3px 0 1px 1px rgba(0,0,0,0.4)
    background-color: white

    .piece
      bottom: 5vh
      left: 10vh
      box-shadow: 3px 0 1px 1px rgba(0,0,0,0.4)
      background-color: white
      border-bottom-right-radius: 25%
      border-top-right-radius: 25%

    &:hover
      left: -3px

    &:active
      left: 0
      box-shadow: unset

      .piece
        box-shadow: unset

    &.hidden
      left: -21vh

