$fontSize: 16px
$pageSpeed: 1000ms
$errorSpeed: 500ms
$formRowHeight: 20px

$rlEnter: -100%
$rlExit: 100%
$lrEnter: 100%
$lrExit: -100%
$tbEnter: -100%
$tbExit: 100%
$btEnter: 100%
$btExit: -100%

@mixin fullScreen
  width: 100%
  height: 100%

@mixin trans
  transition: all $pageSpeed ease

@mixin transError
  transition: all $errorSpeed ease

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none

/* Firefox */
input[type=number]
  -moz-appearance: textfield

button
  border: 0
  cursor: pointer


